<!-- <p>header works!</p> -->
<img src="https://kjssc.somaiya.edu.in/assets/kjsscsr/img/kjssclogo.svg"><br>
<h2><a routerLink="/aboutus"><b>AboutUs</b></a> &nbsp; | &nbsp;
<a routerLink="/programmes"><b>Programmes</b></a> &nbsp; | &nbsp;
<a routerLink="/academics"><b>Academics</b></a> &nbsp; | &nbsp;
<a routerLink="/admissions"><b>Admissions</b></a> &nbsp; | &nbsp;
<a routerLink="/events"><b>Events</b></a> &nbsp; | &nbsp;
<a routerLink="/IQAC"><b>IQAC</b></a> &nbsp; | &nbsp;
<a routerLink="/research"><b>Research</b></a> &nbsp; | &nbsp;
<a routerLink="/studentlife"><b>Student Life</b></a> &nbsp; | &nbsp; </h2>



