
.brandfooter {
    width: 100%;
    float: left;
    bottom: 0;
    position: relative;
    background-color: #fafbfb;
}

.brightredbg {
    width: 20%;
    background-color: #ed1c24;
    height: 60px;
    float: left;
    bottom: 0;
    position: absolute;
    z-index: 2;
}
.darkredbg {
    width: 80%;
    background-color: #b7202e;
    height: 60px;
    float: left;
    bottom: 0;
    position: absolute;
    right: 0;
}
.rightftpatch:after {
    content: "";
    width: 5%;
    background-color: #b7202e;
    height: 30%;
    position: absolute;
    right: 0;
    bottom: 0;
}
.copyrightsec .copyright {
    width: 50%;
    float: left;
    top: 8px;
    font-family: "Fira Sans",sans-serif;
    font-size: 12px;
    color: #58595b;
    position: relative;
}
/* .copyrightsec {
    width: 60%;
    float: none;
    margin: 0 auto;
    padding: 30px 0 30px 0;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
} */
.copyrightsec {
    width: 60%;
    float: left;
    top: 477px;
    font-family: "Fira Sans",sans-serif;
    font-size: 12px;
    color: #58595b;
    position: relative;
}